@import '../../../assets/styles/helpers/variables';

.wrapper {
  position: absolute;
  top: 37px;
  right: -4px;
  border: $base-border;
  background: $white;
  border-radius: 4px;
  box-shadow: $card-box-shadow;
  max-height: 70vh;
  overflow: scroll;
  z-index: 5000;
}

.item {
  width: 100%;
  display: block;
  text-align: left;
}

.notifications {
  composes: wrapper;
  &__list {
    width: 280px;
    &--item {
      composes: item;
      height: 64px;
      border-bottom: 1px solid $gray-light;
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}
