@import '../../../assets/styles/helpers/variables';

.actions {
  position: absolute;
  top: 24px;
  right: 0;
  &__list {
    width: 140px;
    &--item {
      &:hover {
        background: blue;
      }
    }
  }
}
