@import '../../../assets/styles/helpers/variables';

.post-item {
  background: $white;
  padding: $small-spacing;
  border-radius: 4px;
  border: 1px solid $gray-light;
  margin-bottom: $base-spacing;
  > p {
    padding-bottom: $small-spacing;
    border-bottom: 1px solid $gray-light;
    margin-bottom: $small-spacing;
  }

  &__spacer {
    margin: $small-spacing 0;
    border: 1px solid $gray-lightest;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    &--content {
      color: blue;
    }
    &--actions {
      color: blue;
    }
  }

  &__summary {
    display: flex;
    justify-content: space-between;
    color: $gray;
  }
}
