@import '../../../assets/styles/helpers/variables';

.post-item {
  background: $white;
  padding: $small-spacing;
  border-radius: 4px;
  border: $base-border;
  margin-bottom: $base-spacing;
  > p {
    padding-bottom: $small-spacing;
    border-bottom: 1px solid $gray-light;
    margin-bottom: $small-spacing;
  }

  &__spacer {
    margin: $small-spacing 0;
    border: 1px solid $gray-lightest;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    &--content {
      color: blue;
    }
    &--actions {
      position: relative;
      cursor: pointer;
      .dots {
        width: 20px;
        margin-top: 14px;
      }
    }
  }

  &__summary {
    display: flex;
    justify-content: space-between;
    color: $gray;
  }

  &__reaction {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
