@import '../../assets/styles/app';

%card {
  display: block;
  text-align: left;
  position: relative;
  background: $white;
  box-shadow: $card-box-shadow;
  border-radius: $card-border-radius;
  transition: all $base-duration $base-timing;
  &.no-hover:hover {
    cursor: default !important;
    box-shadow: $card-box-shadow !important;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

%card-hover {
  &:hover {
    box-shadow: $card-box-shadow-hover;
  }
}

.card {
  @extend %card;
}

.link-card {
  @extend %card;
  @extend %card-hover;
}
