@import '../../../assets/styles/app';

.me {
  background-color: $gray-lightest;
  padding-bottom: $medium-spacing;
}

.contain {
  @include outer-container();
  padding-left: $base-spacing;
  padding-right: $base-spacing;
  margin-top: $base-spacing;

  @include media($screen-xl) {
    padding-left: 0;
    padding-right: 0;
  }
}

.col-left {
  @include span-columns(3);
}

.col-center {
  @include span-columns(6);
}

.col-right {
  @include span-columns(3);
}
